.uses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "languages frameworks" "sources sources";
    grid-gap: var(--size-4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--size-5);
    margin-top: var(--size-2);
    text-align: center;

    h5 {
        margin-bottom: var(--size-2);
    }

    a, span {
        display: inline-block;
    }

    .btn {
        margin-top: var(--size-1);
        margin-bottom: var(--size-1);
    }

    .languages, .frameworks, .sources {
        background-color: var(--surface2);
        box-shadow: var(--inner-shadow-2);
        border-radius: var(--border-size-3);
        padding: var(--size-3);
    }

    .languages {
        grid-column: languages-start / languages-end;
    }

    .frameworks {
        grid-column: frameworks-start / frameworks-end;
    }

   .sources {
        grid-column: sources-start / sources-end;
   }

    @media (--md-n-above) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "languages frameworks sources";
    }

    @media (--sm-n-below) {
        grid-template-columns: 1fr;
        grid-template-areas: "languages" "frameworks" "sources";

        .languages, .frameworks, .sources {
            margin-top: var(--size-1);
        }
    }
}
