.project-nav {
    text-align: center;

    a {
        margin-right: var(--size-2);
        margin-left: var(--size-2);
    }
}

.project-list {
    .projects {
        display: grid;
        grid-column-gap: var(--size-1);
        grid-row-gap: var(--size-4);
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
}
