/silverstripe-cache/
/.env
/vendor/
/_resources/
/public/_resources/
/public/resources/
/public/_graphql/
/.graphql-generated/

.idea
.vscode
docker-compose.yml
*.log
**/node_modules/
**/open-props/
**/portfolio-openprops/dist
.phpunit.result.cache
