includes:
    - vendor/syntro/silverstripe-phpstan/phpstan.neon
parameters:
    bootstrapFiles:
        - vendor/syntro/silverstripe-phpstan/bootstrap.php
    ignoreErrors:
        - '#Static method SilverStripe\\View\\Requirements::themedCSS\(\) invoked with 3 parameters, 1-2 required\.#'  # themedCSS is overriden in a module
        - '#Dynamic call to static method PHPUnit\\Framework\\Assert::.*#'  # tests will always throw this kind of error
        - '#\$fixture_file type has no value type specified in iterable type array#'  # caused by SilverStripe's php docs
        - '#Method PageController::init\(\) has no return type specified#'  # caused by SilverStripe's php docs
        - '#Parameter \#1 .* of method Mak001\\Portfolio\\Page\\ProjectHolder::.*Link\(\) expects string\|null, mixed given#' # not fully sure why this is breaking
        - '#Only booleans are allowed in an if condition#'  # will eventually figure out how to solve, Rule from phpstan/phpstan-strict-rules
    paths:
        - app/src
        - app/tests
