<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuite name="portfolio">
        <directory>app/tests</directory>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app/src/</directory>
            <exclude>
                <directory suffix=".php">app/tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
