@use '../../parts/theme';
@use '../../open-props/sizes';
@use '../../open-props/fonts';
@use '../../open-props/borders';
@use '../../open-props/shadows';

footer {
    background-color: var(--surface2);
    box-shadow: var(--inner-shadow-2);
    color: var(--text1);

    div:first-child {
        margin-bottom: var(--size-2);

        a {
            background-color: var(--brand);
            color: var(--surface1);
            text-decoration: none;
            font-weight: var(--font-weight-6);
            font-size: var(--font-size-1);
            padding-left: var(--size-3);
            padding-right: var(--size-3);
            border-radius: var(--radius-3);
            box-shadow: var(--inner-shadow-2);

            &:hover {
                box-shadow: var(--shadow-2);
            }

            &:active {
                box-shadow: var(--inner-shadow-5);
            }
        }
    }

    i {
        font-size: var(--font-size-5);
    }
}
