@use '../../parts/theme';
@use '../../open-props/sizes';
@use '../../open-props/fonts';
@use '../../open-props/borders';
@use '../../open-props/shadows';

footer {
    background-color: var(--surface2);
    box-shadow: var(--inner-shadow-2);
    color: var(--text1);

    div:first-child {
        margin-bottom: var(--size-2);
    }

    i {
        font-size: var(--font-size-5);
    }
}
